body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  /* fallback for old browsers */
  background: #efa26c;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #e7568d, #efa26c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #e7568d, #efa26c);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.stage {
  width: 70vw;
  height: 8rem;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 6rem;
  color: #444;
  text-align: center;
}
span {
  opacity: 0.5;
}
.primed {
  font-size: 2rem;
  color: #444;
  position: absolute;
  top: 10vh;
}

@keyframes drop {
  from {top: 10vh;opacity: 1;}
  to {top: 30vh;opacity: 0;}
}
@keyframes shakeAnim {
  10%, 90% {
    transform: translate3d(-1px,0,0);
  }
  20%, 80% {
    transform: translate3d(-2px,0,0);
  }
  30%, 50%, 70% {
    transform: translate3d(4px,0,0);
  }
  40%, 60% {
    transform: translate3d(-4px,0,0);
  }
}
.shake {
  animation-name: shakeAnim;
  animation-duration: 0.6s;
}
.dropped {
  top: 30vh;
  animation-name: drop;
  animation-duration: 0.5s;
  opacity: 0;
}

.focus {
  opacity: 1;
}

.history {
  width: 70vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 16rem;
  overflow-y: scroll;
  text-align: center;
}
.history p{
  opacity: 0.2;
  font-size: 1.3rem;
}
