body {
    background: #FAFAFA;
    font-family: 'Quicksand';
}

h1 {
    width: 100%;
    text-align: center;
    color: #444;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}
hr {
    width: 80%;
    margin: 0% 10%;
    outline: none;
    border: none;
    height: 5px;
    border-radius: 5px;
    background: #858AE3;
}
h4 {
    margin: 1rem 0rem;
    width: 100%;
    color: #777;
    text-align: center;
}

.timeline {
    width: calc(80% - 2rem);
    margin: 5% 10%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.time-left {
    border-radius: 15px;
    border: 2px solid #858AE3;
    color: #858AE3;
    padding: .2rem 1rem;
    font-size: .9rem;
    margin-bottom: 1rem;
    font-family: monospace;
}
.checkpoint {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.checkpoint .left {
    width: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.checkpoint .icon {
    font-size: 2.2rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #858AE3;
    border: 2px solid #858AE3;
    border-radius: 50%;
}

.countdown-timer {
    font-size: 3.5rem;
    color: #858AE3;
}

.checkpoint.finished .info{
    opacity: 0.4;
}

.checkpoint .right {
    width: calc(100% - 8rem);
    height: 100%
}

.checkpoint .info {
    width: calc(100% - 4rem);
    height: calc(100% - 3rem);
    margin: 1rem 0rem;
    padding: 0.5rem 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: #444;
}

.checkpoint.ongoing .info {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkpoint .point {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: calc(50% - 8rem);
}

.checkpoint .time {
    font-size: 2rem;
    color: #858AE3;
}
.checkpoint .date {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #777;
}
.checkpoint .location {
    color: #777;
}

.arrow {
    font-size: 4rem;
    color: #858AE3;
}
.info h3 {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #EBEBEB;
}
.info p {
    margin-top: 2rem;
    color: #777;
}
.line-top {
    width: 3px;
    margin-bottom: 1rem;
    height: calc(50% - 3rem);
    background:  #858AE3;
}
.line-bottom {
    width: 3px;
    margin-top: 1rem;
    height: calc(50% - 3rem);
    background:  #858AE3;
}
.timing {
    margin-top: 0px;
    color: #858AE3;
}
.timing i {
    font-size: 1.1rem;
    margin-right: 1rem;
}
.hidden {
    opacity: 0;
}

.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.header-row h3 {
    width: auto;
    margin: 0px;
    border: none;
}

.progress {
    width: 100%;
    background: #EBEBEB;
    height: 4px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}
.bar {
    height: 100%;
    background: #858AE3;
    width: 0%; 
}
.progress.inactive {
    height: 1px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h4 {
        font-size: 0.8rem;
    }
    .timeline {
        width: calc(100% - 2rem);
        padding: 0px;
        margin: 0rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .checkpoint {
        height: 175px;
    }

    .checkpoint .point {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: calc(50% - 2rem);
    }

    .checkpoint .left {
        width: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .checkpoint .right {
        margin-left: 2rem;
        width: calc(100% - 4rem);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkpoint .icon {
        font-size: 1.2rem;
        height: 2rem;
        width: 2rem;
    }
    .line-top {
        width: 3px;
        margin-bottom: 1rem;
        height: calc(50% - 2rem);
        background:  #858AE3;
    }
    .line-bottom {
        width: 3px;
        margin-top: 1rem;
        height: calc(50% - 2rem);
        background:  #858AE3;
    }

    .checkpoint .time {
        font-size: 1rem;
        color: #858AE3;
        margin-bottom: 0px;
    }
    
    .checkpoint .date {
        margin-top: 0.1rem;
        font-size: 0.7rem;
        color: #777;
        margin-bottom: 0.4rem;
    }
    .checkpoint .location {
        font-size: 0.5rem;
        color: #777;
    }

    .arrow {
        font-size: 1rem;
        color: #858AE3;
    }

    .checkpoint .info {
        width: calc(100% - 1rem);
        padding: 1rem 1rem;
        margin-right: 0px;
    }
    .checkpoint .info h3 {
        font-size: 1rem;
        padding: 0rem;
        padding-bottom: 0.4rem;
        margin: 0px;
        margin-bottom: 1rem;
    }
    .checkpoint .info p {
        font-size: 0.6rem;
        margin-top: 1rem;
        color: #777;
    }
    .timing {
        font-size: 0.6rem;
        margin-top: 1rem;
        color: #858AE3;
    }
    .timing i {
        font-size: 1.1rem;
        margin-right: 0.5rem;
    }
    .countdown-timer {
        font-size: 2rem;
        margin-top: 2.2rem;
        color: #858AE3;
    }
}  
