/*
 * CSS Written by Zain Afzal
 * Shadows from googles Material Design Specifications
 */

body {
	background: #b24592; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b24592, #f15f79); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b24592, #f15f79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Title */
.title {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.title img {
	width: 256px;
	height: 256px;
	border-radius: 50%;
	border: 2px solid #FAFAFA;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.title a {
	color: pink;
	text-decoration: none;
}
h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
	font-size: 3em;
	font-weight: 100;
}
h2 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 1em;
	margin: 0px;
	margin-bottom: 1em;
	opacity: 0.7;
}
h3 {
	font-family: 'Ubuntu', sans-serif;
	color: #FAFAFA;
	font-size: 0.8em;
	margin: 0px;
	opacity: 0.5;
}

.features {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	margin: 1em;
	width: calc(400px - 3em);
	min-width: calc(400px - 3em);
	min-height: calc(300px - 3em);
	padding: 1.5em;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-align: center;
	border-radius: 5px;
}
.card h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #444444;
	font-size: 1.5em;
	font-weight: 100;
	margin: 0px;
}
.card hr {
	width: 80%;
	height: 2px;
	border-radius: 2px;
	background-color: #EBEBEB;
	border: none;
	outline: none;
	margin-bottom: 1.5em;
}

.left-msg {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 1em;
}
.right-msg {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	margin-bottom: 1em;
}
.right-msg img, .left-msg img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.msg {
	width: calc(60% - 2em);
	height: 2em;
	border-radius: 10px;
	background-color: #EBEBEB;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1em;
	padding-right: 1em;
	font-family: 'Ubuntu', sans-serif;
	color: #444;
	font-size: 0.8em;
}
.right-msg .msg {
	justify-content: flex-end;
	background-color: pink;
}
.card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
/* Shadows */
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
