body {
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  background: #FAFAFA;
}
h2 {
  color: #444;
  font-weight: 400;
  margin: 0px;
}
hr {
  width: 100%;
  height: 2px;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  background-color: #EBEBEB;
}
button {
    background: none;
    border: none;
    color: white;
    background-color: #26547C;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}
button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button:focus {
  outline: none;
}
.button-array {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.side-bar {
  margin: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: calc(100% - 4rem);
  width: calc(30% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-dialouge {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.numerical-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.numerical-container i {
  font-size: 2rem;
  color: #444;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
  position: absolute;
  z-index: 99;
}
.numerical-container i:hover {
  background-color: rgba(38, 84, 124,0.1);
}
.ripple {
  width: 3rem;
  height: 3rem;
  background-color: rgba(38, 84, 124,0.3);
  transform: scale(0);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}
.ripple.on {
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.2;
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total {
  color: #777;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
