body {
  margin: 0px;
  font-family: 'Inconsolata', monospace;
}
.landing {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}
.info {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.landing h1 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-right: solid 1px #3ecf9a;
  font-size: 3rem;
  color: #444;
  font-family: 'Inconsolata', monospace;
  margin: 0px;
}
.landing h4 {
  margin: 0px;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
  min-height: 1rem;
  color: #777;
  width: calc(100% - 0.2rem);
  text-align: right;
}
.landing img {
  width: 64px;
  margin-right: 1rem;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  margin: 0px;
  font-size: 1.4rem;
  margin-left: 1rem;
  color: #444;
}
.hex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 90px;
}
.hex svg {
  position: absolute;

}
.hex i {
  color: white;
  position: absolute;
  z-index: 999;
}
.item {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 300px;
  transition: all 1s;
}
.item p {
  text-align: center;
  height: 3rem;
}
.hidden {
  opacity: 0;
}
