body {
    margin: 0;
    padding: 0;
    background-image: url("back.svg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 9s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;
}
h1,h2,h3,h4,h5,h6 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: 0px;
    margin: 0px;
}
h1 {
    font-size: 4rem;
    font-weight: 500;
}
h3 {
    font-size: 2rem;
    font-weight: 100;
}
.center {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon {
    margin: calc(1rem + 5px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}
.icon i {
    transition: 0.2s;
    color: white;
}

.icon:hover {
    margin: 1rem;
    width: 74px;
    height: 74px;
}
.icon:hover i {
    font-size: 2rem;
}

/* https://codepen.io/nohoid/pen/kIfto */
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }